

@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<MudText Typo="Typo.h1">Welcome to your new app.</MudText>
<MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete" />
<MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Primary" aria-label="github" />
<MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Secondary" aria-label="add to favorite" />
<MudIconButton Icon="@Icons.Material.Filled.Share" Disabled="true" aria-label="share" />