@page "/"
@using System.Net.Http.Json
@inject HttpClient Http 
@using TradeTracker.Shared.Models 
@using TradeTracker.Client.Components
@using MudBlazor


@if (trades == null)
{
    <p><em>Načítání obchodních dat...</em></p>
}
else if (trades.Length == 0)
{
    <p>Nebyly nalezeny žádné obchody.</p>
}
else
{




   <MudContainer Class="d-flex flex-wrap gap-2" Spacing="2">

    @foreach (var trade in trades)
    {
        <TradeCard Trade="trade" />
    }

   </MudContainer>

    
}

@code {
    private TradeToShare[]? trades; 

    protected override async Task OnInitializedAsync()
    {
        try
        {
            trades = await Http.GetFromJsonAsync<TradeToShare[]>("api/Trade");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Chyba při načítání obchodů: {ex.Message}");
            trades = Array.Empty<TradeToShare>();
        }
    }
}