@page "/"
@using System.Net.Http.Json
@inject HttpClient Http 
@using TradeTracker.Shared.Models 
@using TradeTracker.Client.Components
@using MudBlazor


@if (trades == null)
{
    <p><em>Načítání obchodních dat...</em></p>
}
else if (trades.Length == 0)
{
    <p>Nebyly nalezeny žádné obchody.</p>
}
else
{
    <MudGrid Spacing="3" Class="p-3 m-3">
        
    
    @foreach (var trade in trades)
    {
        <MudItem xs="12" sm="6" md="4" lg="3">
        <TradeCard Trade="trade" />
        </MudItem>
    }
    </MudGrid>
    
}

@code {
    private Trade[]? trades; 

    protected override async Task OnInitializedAsync()
    {
        try
        {
            trades = await Http.GetFromJsonAsync<Trade[]>("api/Trade");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Chyba při načítání obchodů: {ex.Message}");
            trades = Array.Empty<Trade>();
        }
    }
}